@import "./Variables.scss";

.footer {
  position: absolute;
  bottom: 0;
  height: 2rem;
  width: 100%;
  background-color: $mainColor;
  z-index: 10;
  display: flex;
  align-items: center;
  .copyright {
    width: 90%;
    color: $secondColor;
    font-family: $titleFont;
    align-self: center;
    padding-left: 1rem;
  }
}
