@import "../styles/Variables.scss";

.noTaskToDoCnt {
  display: flex;
  align-items: center;
  flex-direction: column;
  .nonTitle {
    text-align: center;
    font-family: $titleFont;
    font-size: 2rem;
  }
  .yoda {
    height: 300px;
    width: 300px;
    background-image: url("../images/yoda.png");
    background-size: cover;
  }
}
